/* CSS RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
/* SOCIAL ICON FONT */
@charset 'UTF-8';
/* @FONT-FACE loads font into browser */
@font-face {
  font-family: 'typicons';
  src: url('typicons.eot');
  src: url('typicons.eot?#iefix') format('embedded-opentype'),
       url('typicons.woff') format('woff'),
       url('typicons.ttf') format('truetype'),
       url('typicons.svg#typicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* :before psuedo-selector inserts and styles icon */
.typcn:before {
  font-family: 'typicons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  height: 1em;
  font-size: 1em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.typcn-social-twitter-circular:before { content: '\e0f8'; } /* '' */
.typcn-social-github-circular:before { content: '\e0e8'; } /* '' */
.typcn-social-dribbble-circular:before { content: '\e0e2'; } /* '' */
.typcn-social-linkedin-circular:before { content: '\e0f0'; } /* '' */
.typcn {
	line-height: 1em;
}
@media screen {
/* MAIN STYLES */
body {
	background-color: #5b4282;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #2c3e50;
}
.about p {
	width: 60%;
}
h2 {
	font-size: 2em;
	margin: 3% 0;
}
hr {
	margin: 20px 0;
}
.box {
	margin: 0 auto;
	padding: 8% 15%;
	box-sizing: border-box;
	font-size: 1.15em;
	line-height: 1.35em;
	position: relative;
	clear: both;
}
.intro {
	font-size: 3em;
	font-weight: bold;
	height: 100%;
}
.intro h1 {
	font-size: 1.5em;
	color: #ffffff;
	margin-top: 20%;
}
.intro h2 {
	font-size: 1.35em;
	color: #9783b9 !important;
}
.about, .contact {
	background-color: #eff3f3;
}
.box:not(.about) h2 {
	color: #ffffff;
}
.photo {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	background: url('https://media.licdn.com/mpr/mpr/shrink_200_200/p/5/005/01d/32a/1c3c99d.jpg') no-repeat;
	float: right;
}
.column {
	float: left;
	width: 60%;
	color: #ffffff;
	font-size: 0.85em;
	margin: 3% 0;
}
.column.left {
	width: 30%;
}
.column h3 {
	color: #9783b9;
	font-size: 1.25em;
}
.skill {
	width: 180px;
	height: 30px;
	display: block;
	color: #ffffff;
	margin: 5px 0;
	transition: all 1.0s ease-in;
	font-size: 0.8em;
	padding: 0 10px;
	float: left;
 }
.skill strong {
	background-color: #9783B9;
	padding: 8px;
	border-radius: 2px;
	line-height: 2.1em;
}
.softskills {
	clear: both;
	margin: 13px;
	color: #fff;
}

.project {
	background: #eff3f3;
	border-radius: 20px;
	margin: 1% auto;
	padding: 20px 10px;
	text-align: center;
	box-sizing: border-box;
	transition: all 0.5s ease;
}	
.project ul {
	list-style-type: circle;
	text-align: left;
	margin-left: 35px;
}
.project h3 {
	margin: 10px 0 20px 0;
}
a {
	color: #44329E;
	text-decoration: none;
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	display: block;
}
.project.nolink {
	width: 90%;
}
a .project {
	color: #2c3e50;
	background-color: #eff3f3;
}
a .project:hover {
	background: #fff;
}
.contact {
	font-size: 3em;
	text-align: center;
}
}
/* Media queries */  
@media screen and (max-width: 900px) {
  .intro {
    font-size: 2.3em;
  }
}
@media screen and (max-width: 670px) {
  .intro {
    font-size: 1.5em;
  }
  .photo {
  	float: none;
  	clear: both;
  	width: 150px;
  	height: 150px;
  }
  .about p {
  	width: 90%;
  }
  .column, .project {
  	font-size: 0.7em;
  }
  .column {
  	width: 100%;
  	float: none;
  }
  .column.left {
  	width: 100%;
  }
  .project.nolink {
		width: 100%;
	}
	a {
		width: 100%;
	}
	.box {
		padding: 5% 8%;
	}

}
/* Print styles */
@media print {
	body { 
		font-family: 'Roboto', Helvetica, Arial, sans-serif;
		font-size: 12pt;
		color: #333;
	}
	.photo {
		width: 200px;
		height: 200px;
		border-radius: 100px;
		background: url('https://media.licdn.com/mpr/mpr/shrink_200_200/p/5/005/01d/32a/1c3c99d.jpg') no-repeat;
		float: right;
	}
	.intro {
		font-size: 18pt;
		font-weight: bold;
	}
	.intro h1 {
		color: #ccc;
		margin-top: 20%;
	}
	.intro h2 {
		font-size: 16pt;
		color: #2c3e50;
	}
	h2 {
		font-size: 15pt;
		color: #2c3e50;
	}
	h2, h3 {
		margin: 10pt auto;
	}
	span {
		color: #ccc;
	}
	.contact {
		display: none;
	}
	section {
		margin: 1cm auto;
	}
	.project {
		margin: 1cm;
		font-size: 10pt;
	}
	.project h3 {
		color: #ccc;
		margin: 4pt auto;
	}
	.projects a {
		width: 16cm;
		text-decoration: none;
		color: #333;
	}
	.skill {
		width: 3cm;
		float: left;
	}
	.skills p {
		clear: both;
		margin: 10pt;
		padding: 5pt auto;
	}
}